@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
};

@theme {
    --font-display: "Inter", sans-serif;
}

@layer components {
    .color-primary {
        @apply bg-linear-to-r from-purple-600 to-pink-500 bg-clip-text text-transparent;
    }
}

body{
    background: #ececec;
}
